<div class="terminal-nav">
  <div class="terminal-logo">
    <div class="logo terminal-prompt"><a href="{{ '/' | relative_url }}" class="no-style">Euruko</a></div>
  </div>
  <!-- <nav class="terminal-menu">
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/about' | relative_url }}">About</a></li>
      <li><a href="{{ '/posts' | relative_url }}">Posts</a></li>
    </ul>
  </nav> -->
</div>
